.alert {
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 10px 6px;
    margin: 6px;
    border-radius: 3px;
    border: 1px solid rgb(238,211,215);
    background-color: rgb(242,222,222);
}

.alert__heading {
    color: rgb(153, 11, 11);
    font-size: .9rem;
    text-align: left;
}

.alert__info {
    color: rgb(173, 12, 12);
    font-size: .8rem;
}
