

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
}

 /*Works on Chrome, Edge, and Safari*/
*::-webkit-scrollbar {
    width: 5px;
    background: #c9d6ef;
}

*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #9cb8f0;
}

#root {
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
